extends layout

block content
  h1= title
  p Welcome to #{title}
  p This is a #{environment} environment.
  p Repository link: #{repo_link}
  p Here's a peek of our worker stats: 
  p totalWorkers: #{totalWorkers}.
  p busyWorkers: #{busyWorkers}.
  p idleWorkers: #{idleWorkers}.
  p pendingTasks: #{pendingTasks}.
  p activeTasks: #{activeTasks}.

  p Repository link: #{repo_link}"

